@import '../../../../../assets/globalStyles/variables';

.container {
    position: relative;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $gray;
    margin-top: 20px;
    margin-left: 20px;

    h1 {
        top: calc(50% - 18px);
        text-align: center;
        font-size: 36px;
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    h2 {
        font-size: 12px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: black;
    }
}