$white: #ffffff;
$gray: #efefef;
$black: #000000;
$eggshell: rgba(240, 235, 216, 1);

/* color scheme */
$color1: rgba(116, 140, 171, 1);
$color2: rgba(62, 92, 118, 1);
$color3: rgba(29, 45, 68, 1);
$color4: rgba(13, 19, 33, 1);
$color5: rgba(54, 65, 86, 1);


$background: $eggshell;